/* General Styling */
.theme-gold {
    color: #b39a33 !important;
}
.theme-red {
    color: #5f1a1f !important;
}
.theme-silver {
    color: #343434 !important;
}
.theme-white {
	color: #fff !important;
}
.nocorner {
	border-radius: 0;
}

/* Links */
a {
    color: #5f1a1f !important;
	text-decoration:none !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
a:hover {
	color: #b39a33 !important;
	text-decoration: none !important;
}
.whitelink {
    color: #fff !important;
}
.goldlink {
    color: #b39a33 !important;
}
.greylink {
	color: #A4A4A4 !important;
}
.silverhover:hover {
	color: #343434 !important;
}

/* Fonting */
@font-face {
    font-family: "CODE Bold";
    src: url("../fonts/CODE Bold.otf");
}

/* Login Page */
.login-photo {
	padding-top: 40px;
	width: 250px;
}

/* Navbar */
.dash-photo {
	width: 60%;
}
.dash-actions {
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Cards */
.card {
	width: 100%;
}
.card-header {
	background-color: #3B3B3B;
	color: #fff;
}
.card-content {
	background-color: #DFDFDF;
}
.card-grey {
	background-color: #4E4E4E;
}
.card-gold {
	background-color: #b39a33;
}
.card-red {
	background-color: #5f1a1f;
}
.card-value {
	color: #fff;
	font-size: 48px;
}
.card-image {
	width:70% !important;
}
.mdl-card__actions {
	height: 52px;
	padding: 16px;
	background: rgba(0, 0, 0, 0.5);
}
.card__footer {
	 color: #fff;
	font-size: 14px;
	font-weight: 500;
}

/* Stack Nav Pills */
.nav-pills .active a, .nav-pills .active a:hover {
	background-color: #b39a33 !important;
}
	